<html>
    <head>
        <meta charset="UTF-8">
        <title>Consulta de ganancias</title>
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename = 'consult/consulta_din.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'main_rec/icon.ico')}}">
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- DataTables CSS CDN -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

        <!-- DataTables JS CDN -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    </head>
    <body>
        <header> <!--Aquí es el codigo de la barra de navegación superior-->
            <div class = "header_menu">
                <a href = "{{url_for('home')}}"><h1 id = "Title">Administrador</h1></a>
                <nav class="Contenedor">
                    <ul>
                        <li><a href="{{url_for('registro')}}">Registrar</a></li>
                        <li><a href="{{url_for('consult')}}">Consultas</a></li>
                        <li><a href="{{url_for('productos')}}">Productos</a></li>
                        <li><a href="{{url_for('reportes')}}">Reportes</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class = "gain_table">
            <h1>Consultas de ganancias</h1>
            <div class="container mt-4">
                <div class="container mt-4">
                    <form id="filtroForm">
                        <label for="serial_no">Filtrar por Máquina:</label>
                        <select id="serial_no">
                            <option value="">Elige...</option>
                            {% for machine in machines %}
                                <option value="{{machine.serial_no}}">{{ machine.serial_no }}</option>
                            {% endfor %}
                        </select>
                        <label for="dia">Filtrar por Día:</label>
                        <select id="dia">
                            <option value="">Elige..</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <label for="mes">Filtrar por Mes:</label>
                        <select id="mes">
                            <option value="">Elige..</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <label for="ano">Filtrar por Año:</label>
                        <select id="ano">
                            <option value="">Elige..</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                        <button type="button" onclick="aplicarFiltros()">Aplicar Filtros</button>
                        <button type="button" onclick="location.reload()">Reiniciar Filtros</button>
                    </form>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Máquina</th>
                            <th scope="col">Día</th>
                            <th scope="col">Mes</th>
                            <th scope="col">Año</th>
                            <th scope="col">Ganancia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gain in gains %}
                        <tr>
                            <td>{{ gain.profit_id }}</td>
                            <td>{{ gain.serial_no }}</td>
                            <td>{{ gain.day }}</td>
                            <td>{{ gain.month }}</td>
                            <td>{{ gain.year }}</td>
                            <td>$ {{ gain.gain_amount }}</td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
                <script>
                    $(document).ready( function () {
                        $('.table').DataTable();
                    });
                    </script>
                    <script>
                        function aplicarFiltros() {
                            var filtroSerialNo = $('#serial_no').val();
                            var filtroDia = $('#dia').val();
                            var filtroMes = $('#mes').val();
                            var filtroAño = $('#ano').val();
                        
                            $('.table').DataTable().search('').draw();
                        
                            if (filtroSerialNo) {
                                $('.table').DataTable().column(1).search(filtroSerialNo).draw();
                            }
                            if (filtroDia) {
                                $('.table').DataTable().column(2).search(filtroDia).draw();
                            }
                            if (filtroMes) {
                                $('.table').DataTable().column(3).search(filtroMes).draw();
                            }
                            if (filtroAño) {
                                $('.table').DataTable().column(4).search(filtroAño).draw();
                            }
                        }
                        </script>
                                            
            </div>
        </div>
    </body>
</html>    