<html>
    <head>
        <meta charset="UTF-8">
        <title>Máquinas a rellenar</title>
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename = 'consult_prod/consulta_pro.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'main_rec/icon.ico')}}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    </head>
    <body>
        <header> <!--Aquí es el codigo de la barra de navegación superior-->
            <div class = "header_menu">
                <a href = "{{url_for('home')}}"><h1 id = "Title">Administrador</h1></a>
                <nav class="Contenedor">
                    <ul>
                        <li><a href="{{url_for('registro')}}">Registrar</a></li>
                        <li><a href="{{url_for('consult')}}">Consultas</a></li>
                        <li><a href="{{url_for('productos')}}">Productos</a></li>
                        <li><a href="{{url_for('reportes')}}">Reportes</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class = "consult_table">
            <h1>Máquinas a rellenar</h1>
            <div class = "container mt-4">
                <table class ="table" id="machine_contents_table">
                    <thead>
                        <tr>
                            <th scope="col">No. de reporte</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">No. Producto</th>
                            <th scope="col">Producto agotado</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for report in empty_reports %}
                            <tr>
                                <td>{{ report.report_id }}</td>
                                <td>{{ report.location }}</td>
                                <td>{{ report.product_id }}</td>
                                <td>{{ report.name }}</td>
                                <td>{{ report.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <button class="btn btn-success" onclick = "generarPDF()">Generar PDF del reporte</button>
                </div>
                <script>
                    function generarPDF() {
                        // Enviar una solicitud GET al servidor para generar el PDF
                        fetch('/generar_pdf')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Error al generar el PDF');
                                }
                                return response.blob();
                            })
                            .then(blob => {
                                // Descargar el PDF
                                const url = window.URL.createObjectURL(blob);
                                const a = document.createElement('a');
                                a.href = url;
                                a.download = 'reporte.pdf';
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                    }
                </script>
            </div>
        </div>
        <footer>
            <p>*---.</p>
        </footer>
    </body>
</html>