<html>
    <head>
        <meta charset="UTF-8">
        <title>Reportar máquinas</title>
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename = 'report_rec/report_user.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'main_rec/icon.ico')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body>
        <header> <!--Aquí es el codigo de la barra de navegación superior-->
            <div class = "header_menu">
                <h1 id = "Title">Levantar Reporte</h1>
            </div>
        </header>

        <div class = "main_title">
            <h1>Llene los datos solicitados</h1>
            <p>Gracias por tomarse el tiempo de llenar este formulario. Haremos seguimiento de su reporte lo más pronto posible.</p>
        </div>

        <div class = "repor_form">
            <form class = "reportsForm" action="/save_report" method="POST">
                <div class = "row">
                    <div class="form-floating">
                        <textarea class="form-control" name="description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
                        <label for="floatingTextarea2">Escribe en palabras breves lo que ha pasado</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="date" id="reportDate" placeholder="Fecha del reporte" required>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            flatpickr('#reportDate', {
                                dateFormat: 'Y-m-d', // Formato de la fecha (año-mes-día)
                                enableTime: false, // Deshabilita la selección de tiempo
                            });
                        });
                    </script>
                    <div class="col-md-4">
                        <label for="machineSelect" class="form-label">Seleccione el número de serie de la maquina</label>
                        <select class="form-select" name="serial_no" id="machineSelect" required>
                            <option selected disabled value="">Elige...</option>
                            {% for machine in machines %}
                                <option>{{ machine.serial_no }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p id="registrationMessage" style="display: none;">Se han realizado el reporte.</p>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>                                       
                </div>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Obtener referencia al formulario y al mensaje de registro exitoso
                var form = document.querySelector('.reportsForm');
                var registrationMessage = document.getElementById('registrationMessage');
        
                // Agregar evento submit al formulario
                form.addEventListener('submit', function(event) {
                    // Mostrar el mensaje de registro exitoso
                    registrationMessage.style.display = 'block';
        
                    // Evitar que el formulario se envíe normalmente
                    event.preventDefault();
        
                    // Enviar los datos del formulario al servidor
                    var formData = new FormData(form);
                    fetch(form.action, {
                        method: form.method,
                        body: formData
                    }).then(function(response) {
                        if (response.ok) {
                            // Después de 2 segundos, ocultar el mensaje
                            setTimeout(function() {
                                registrationMessage.style.display = 'none';
                            }, 1000);
        
                            // Limpiar el formulario después de enviar los datos
                            form.reset();
                        }
                    });
                });
            });
        </script>
        
    </body>
</html>